@import url('https://fonts.googleapis.com/css?family=Baskervville|Roboto:400,700&display=swap');


body {
  background-color: #FFDAC1;
  color: #4A4A4A;
  font-family: "Baskervville", sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2B9D8F;
  font-size: 60px;
  font-family: "Roboto";
  background-color: pink;
  border: 2px solid blue;
  padding: 30px 0;
  margin-bottom: 60px;

}

h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

#first-list {
  background-color: lime;
  text-align: center;
}

#first-list li {
  display: inline-block;
  margin: 20px;
}

.mammals {
  color: red;
  font-weight: bold;
}

.birds {
  color: blue;
  font-style: italic;
}

.fish {
  color: orange;
  text-decoration: underline;
}

img {
  display: block;
  margin: 0 auto;
  width: 400px;

}
